.alert-success{
    position: fixed;
    bottom: 5px;
    left:2%;
    width: 96%;
}

.content {
    margin: 3% 3% 3%;
}

.alert{
    display: none;
}

.list-group-item{
    padding: 0;
    margin-bottom :0;
    border:0;
    line-height:0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    color: dodgerblue;
    font-weight: bold;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

#files-tree{width:400px;}
