.alert-success{
    position: fixed;
    bottom: 5px;
    left:2%;
    width: 96%;
}

.content {
    margin: 3% 3% 3%;
}

.alert{
    display: none;
}

.list-group-item{
    padding: 0;
    margin-bottom :0;
    border:0;
    line-height:0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    color: dodgerblue;
    font-weight: bold;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

th{
    font-size: small;
}

b{
    font-size: small;
}

td{
    font-size: small;
}

#files-tree{width:400px;}

#commitFilesTable{
    margin-left: 0px;
    height: 300px;
    overflow-y: scroll;
    max-height: inherit;
    display: table-caption;
}

#commitFiles{
    max-height: 400px;
    padding-left: 0px;
    padding-right: 0px;
}

#msgarea {
    height: 100px;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    overflow-y:auto;
}